#choose {
    width: 100%;
    height: 100%;
    background-image: url('https://aggeek.net/files/uploads/fasfott%20(1).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.choose__title {
    text-align: center;
    font-size: 24px;
}