.header-container {
  display: flex;
  padding: var(--spacing-small);
  background-color: var(--color-medium);
}

.header-container > * {
  padding: 0 var(--spacing-medium);
  border-right: 2px solid var(--color-black);
}

.header-container > *:last-child {
  border: none;
}

.header-container > * > a {
  /* color: var(--color-black); */
  
}


